{#
    @file
    load-animation.html.twig

    Avaliable variables:
        - name: nombre de alguien
        - text: origin del nombre
#}
<div class="name-container">
	<header>
		<h1 class="main-text">{{ name }}</h1>
    <h2 class="subtitle">{{subtitle}}</h2>
	</header>
	<article>
		<div class="text-about">
			<p>{{ text }}</p>
		</div>
	</article>
</div>